.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    padding: 12px;
    font-size: 12px;
    white-space: nowrap;
}
.table tbody tr {
    transition: 0.3s ease-in-out;
}
/* .table tbody tr:hover {
    transform: scale(1.1);
} */
.table th {
    background-color: #ddd;
}
body[data-bs-theme="dark"] .table th {
    background-color: #333;
    color: #e0e0e0;
}
.success {
    display: inline-block;
    padding: 5px 12px;
    background-color: #93ed93;
    border-radius: 60px;
    font-size: 10px;
    color: #036d03;
}
.pending {
    display: inline-block;
    padding: 5px 12px;
    background-color: #f5f3b3;
    border-radius: 60px;
    font-size: 10px;
    color: #887f02;
}